html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  background: url(../images/low-poly-b-g-vector.svg) !important;
  background-size: 100% !important;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

a:link {
    text-decoration: none;
    color:#0F2F44;
}

.link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

#overlay {
  width:100%;
  background-image: linear-gradient(-188deg, #9155EF  24%, #218BD2  100%);
  opacity: 0.85;
  position:fixed;
  top: -350px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

#overlay2 {
  background-image: linear-gradient(-183deg, rgba(255,255,255,0.00) 1%, rgba(0,0,0,0.30) 100%);
  z-index: -1;
  opacity: 0.5;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

#content {
  width: 100%;
}

#top {
  color: white;
  max-width:100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  height: 50px;
}

#top button {
  float:right;
  background: none;
  border: 1px solid rgba(255,255,255,0.45);
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 230px;
  font-size: 16px;
  cursor: pointer;
  cursor: hand;
  font-family:inherit;
}

#top button:hover {
  cursor: pointer;
  cursor: hand;
  border: 1px solid rgba(255,255,255,1);

}

#top a {
  position: relative;
  top: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}

#white-box:hover {
  box-shadow: 0px 12px 20px 10px rgba(0,0,0,0.25);
}

#white-box {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 70%;
  box-shadow: 0px 12px 20px 10px rgba(0,0,0,0.10);
  border-radius: 3px;
  transition: box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
}

.image {
  display: inline-block;
  background-color: #F3F3F3;
  background-size: contain;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 3%;
}

#image-wrapper {
  width: 70%;
  margin: 0 auto;
}

 .image-source  {
    width: 100%;
    transform:scale(.9,.9);
  }

.text {
  text-align: center;
  position: absolute;
  width: 50%;
  display: inline-block;
  height: 100%;
  padding:0.8rem;
  box-sizing:border-box;
}

.text-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#main-text {
  position: relative;
  top: 10%;
}

.titletext {
    color: #0F2F44;
    font-size:2.1rem;
    margin-bottom:1rem;
    margin-top: 10%;
}

h2 {
    display: block;
    font-size: 1.3rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-weight: regular;
    opacity:0.5;
}

#subtext {
  padding: 10px;
}

#learn-more {
  position: absolute;
  margin: 15px;
  bottom: 0;
}

.action-button {
  background-image: linear-gradient(-180deg, #50EE41 0%, #15BF43 100%) !important;
  color: white;
  border-radius:3px;
  font-weight:400 !important;
  letter-spacing:0.02rem;
  height: 50px;
  width: 90%;
  border: 0;
  margin-top: 30px;
  font-size: 1.25rem;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.action-button-wrapper {
  position:absolute;
  width: 94%;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 20px;

}

  #text1 {
    font-size:1rem;
    line-height:1.5rem;
  }

  #text2 {
    font-size:1rem;
    line-height:1.5rem;
  }


@media only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-device-pixel-ratio: 1) {

  .image {
      position: relative; /*newly added*/
      height: 100%;
  }
}


/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

  .image {

  }
}



@media screen and (max-width: 1600px) {
  .text {

  }

  #white-box {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .text {
  }
}

@media screen and (max-width: 1325px) {
  .text {
  }
}

@media screen and (max-width: 1275px) {
  .text {
  }
}


@media screen and (max-width: 1200px) {
  #white-box {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}


@media screen and (max-width: 992px) {
  .image {
  }

  #white-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  #content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  #bottom {
    display: -webkit-flex;
    -webkit-flex-grow: 2;
    -webkit-flex-direction: column;
    flex-grow: 2;
    flex-direction: column;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #white-box {
    display: -webkit-flex;
    -webkit-flex-grow: 2;
    -webkit-flex-direction: column;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 700px;
  }

  .link {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  #main-text {
    position: static;
    top: auto;
    transform: translateY(0%);
  }

  .action-button {

  }

  .image {
    display: block;
    width: auto;
    height: 60%;
  }

  .text {
    width: auto;
    padding: 10px;
    height: auto;
  }

  .titletext {
    margin-top: 0.8rem;
  }

  .action-button-wrapper {
    position: static;
  }
}

@media screen and (max-width: 399px) {
  #top {
    margin: 8px 10px 0px 10px;
    padding-bottom: 0px;
  }

  .image {
    height: 220px;
  }

  .action-button {
    margin-top: 10px;
  }

  #white-box {
    min-height: 0;
  }

  #text1 {
    display: none;
  }

  #text2 {
    display: none;
  }

}


@media screen and (max-width: 360px) {
  #bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 2;
    flex-grow: 2;
  }

  .link {
    height: auto;
  }

  #content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #top {
    margin: 8px;
  }

  #text1 {
    display: none;
  }

  #text2 {
    display: none;
  }

  .image {
    height: 200px;
  }
  #image-wrapper, #image-wrapper img {
    width: 70%;
  }
  .image-source {
    width: 100%;
  }

  .action-button {
    margin: 0;
    height: 30px;
  }
}


